.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: lightgrey;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .disppear {
    animation: vanish 2s forwards;
  }
  @keyframes vanish {
    100% {
      opacity: 10;
      visibility: hidden;
    }
  }
  
  @media (max-width: 845px) {

    *{
        background-color: black;
    }
    #video1 {
    /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    }
  }
  
